@media all and (max-width: 1024px){
    .products-bgcground_img{
        display: none;
    } 
}

@media all and (max-width: 768px){
    .products{
        display: flex;
        flex-direction: column;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
}


@media all and (max-width: 414px){
    .navbar{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .navbar__logo{
        display: none;
    }
    .navbar-products{
        display: flex;
        flex-direction: column;
    }
}